@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
  margin-top: 80px;
}

.header button:not(:last-child) {
  margin-right: 10px;
}

.header h1 {
  color: #808080;
}

.header button {
  background-color: #808080;
  transition: background-color 100ms ease-in;
}

.header button:hover {
  background-color: #f50057;
}

.header button:focus {
  background-color: #f50057;
}

.graph {
  height: 900px;
  margin-top: 120px;
}

.graph img {
  animation: spinner 1s linear infinite;
}

.news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.box {
  border-radius: 6px;
  background-color: #808080;
  width: 400px;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.news :hover {
  background-color: #f50057;
}

.news :focus {
  background-color: #f50057;
}
