.main{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;  
}

.center{
    margin-top: 50px;
    text-align: center;  
    font-size: large;
    font-weight: normal;
    color: gray;
}

.line{    
    border: 1px solid #f50057;
}

.btnhome{
    border-color: whitesmoke;
    border-radius: 2rem;
    font-size: xx-large;
    width: 350px;
    height: max-content;
    background-color: rgb(156, 155, 155);
    color: whitesmoke;
    
}

.btnhome:hover{
    background-color: #f50057;
}

.start{
    text-align: center;
    width: auto;
    background-color: #f50057;
    color: whitesmoke;
}
